 <!-- templates/movies_index.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Movies</h1>

<!-- <a href='/movies/new'>MOVIE LIST</a> -->
<h2>Movie Storage</h2>
{% for movie in movies %}
    <h2><a href='/movies/{{ movie._id }}'>{{ movie.title }}</a></h2>
    <small>{{ movie.title }}</small>
    <small>{{ movie.description }}</small>
    <small>{{ movie.realse_date }}</small>
    <small>{{ movie.time }}</small>
    <small>{{ movie.image }}</small>
    <img src='{{ movie.image }}' width="500" height="333"> -->
{% endfor %}
{% endblock %}
