<!-- templates/users_edit.html -->
{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/movies/{{ movie._id }}'>
    <fieldset>
        <legend>Edit Movie Name</legend>
        <!-- TITLE -->
        <p>
            <label for='title'>Title</label><br>
            <input id='title' type='text' name='title' value='{{ movie.title }}'/>
        </p>

        <!-- DESCRIPTION -->
        <p>
            <label for='description'>Description</label><br>
            <input id='description' type='text' name='description' value='{{ movie.description }}' />
        </p>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Save Movie</button>
    </p>
</form>
{% endblock %}
