 <!-- templates/movies_index.html -->
{% extends 'base.html' %}

{% block content %}
<a href='/'>Back to Home</a>
<h1>Movies</h1>
    <div class="row">
        <div class="col">
        {% for movie in movies %}
            <h2><a href='/movies/{{ movie._id }}'>{{ movie.title }}</a></h2>
            <small>{{ movie.title }}</small>
            <small>{{ movie.description }}</small>
            <img src='{{ movie.image }}' width="500" height="333">
        {% endfor %}
        </div>
  </div>
</div>
{% endblock %}
